.commits-canva {
  font-size: 0;
  margin: 0 0 10px 0;
  cursor: crosshair;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.commits-canva > ul {
  padding: 0;
  margin: 0;
}
.commits-canva > ul > li {
  overflow: hidden;
  display: inline-block;
  width: 13px;
  height: 91px;
  margin: 0;
}
.commits-canva > ul > li > ul {
  padding: 0;
  margin: 0;
}
.commits-canva > ul > li > ul > li {
  border: 1px solid #fff;
  display: inline-block;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background-color: #eee;
}

.textarea-output {
  font-family: monospace;
  font-size: 10px !important;
  display: block;
  width: 600px;
  height: 120px;
  margin: 0 0 10px 0;
}
